<div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <h1>Таблицы инетлектуальных игр</h1>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <div class="callout">
          <h3>Добро пожаловать!</h3>
          <p>Это сервис подсчёта, хранения и демонстрации результатов интеллектуальных игр.</p>
          <p>Предлагаем выбрать дисциплину:</p>
          <div class="grid-x grid-padding-x">
            <div class="large-4 medium-4 cell">
              <p><a href="http://127.0.0.1:8000/chgk/tournaments">Спортивное Что? Где? Когда?</a><br />Спортивная версия игры по стандартным правилам</p>
            </div>
            <div class="large-4 medium-4 cell">
              <p><a href="http://127.0.0.1:8000/pentagon/tournaments">Пентагон</a><br />Пять подсказок на поиск ответа в заданной теме</p>
            </div>
          </div>
          <div class="grid-x grid-padding-x">
            <div class="large-4 medium-4 medium-push-2 cell">
              <p><a href="https://github.com/foundation/foundation-sites">Foundation on Github</a><br />Latest code, issue reports, feature requests and more.</p>
            </div>
            <div class="large-4 medium-4 medium-pull-2 cell">
              <p><a href="https://twitter.com/FoundationCSS">@FoundationCSS</a><br />Ping us on Twitter if you have questions. When you build something with this we'd love to see it.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  